<!DOCTYPE html>
<html>
<head>
  <title>博客</title>
  <link rel='stylesheet' href='/css/style.css'/>
  <script src="/js/lib/jquery.js"></script>
</head>
<body>
<div>
  <h4>添加文章</h4>
  <h3>标题</h3>
  <textarea id="title"></textarea>
  <h3>摘要</h3>
  <textarea id="des"></textarea>
  <h3>类型</h3>
  <label>
    <input type="radio" name="type" value="JavaScript" checked/>
    <span>JavaScript</span>
    <input type="radio" name="type" value="HTML"/>
    <span>HTML</span>
    <input type="radio" name="type" value="HTML5"/>
    <span>HTML5</span>
    <input type="radio" name="type" value="CSS"/>
    <span>CSS</span>
    <input type="radio" name="type" value="CSS3"/>
    <span>CSS3</span>
  </label>
  <h3>作者</h3>
  <textarea id="author"></textarea>
  <h3>内容</h3>
  <textarea id="detail"></textarea>
  <h3>添加评论</h3>
  <span>评论人</span><input id="user"/>
  <textarea id="comment"></textarea>
  <button id="btn">添加</button>
  <h3>评论列表</h3>
  <div id="comment-list"></div>
  <button id="confirm">提交</button>
</div>
<script>
  $(document).ready(function () {
    var comment = [];
    $('#btn').click(function () {
      comment.push({
        user:$('#user').val(),
        msg:$('#comment').val()
      });
      $('#comment-list').append('<p>'+$('#comment').val()+'</p>');
    });
    $('#confirm').click(function () {
      var article = {
        title: $('#title').val(),
        des: $('#des').val(),
        type: $("input[name='type']").val(),
        author:$('#author').val(),
        detail:$('#detail').val(),
        comment:comment
      };
      $.post('/article/submit', {data:JSON.stringify(article)},
              function (data) {
                console.log('success',data);
              },
              function (error) {
                console.log('error',error);
              }
      );
    });
  });
</script>
</body>
</html>
