/*custom scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: rgba(51, 153, 255, 0);
}
::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
/*init*/
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
html,
body{
    height: 100%
}
body{
    /*overflow: hidden;*/
}
ul{
    list-style-type: none;
}
a{
    color: inherit;
    cursor: pointer;
}
a:link{
    text-decoration: none;
    cursor: pointer;
}
input,textarea{
    outline: none;
}
/*common*/
.c-000{
    color: #000;
}
.c-999{
    color: #999;
}
.c-39f{
    color: #39f;
}
.dp-n{
    display: none
}
.fl{
    float: left
}
.fr{
    float: right;
}
.m20{
    margin: 20px;
}
.mt0{
    margin-top: 0;
}
.mr10{
    margin-right: 10px;
}
.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.p0-20{
    padding: 0 20px;
}
.w100{
    width: 100px;
}
.w40{
    width: 40px;
}
.tc{
    text-align: center;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    border: none;
}
.btn-39f{
    color: #fff;
    background-color: #39f;
    border-color: #39f;
}
.clear-float {/*清除浮动*/
    zoom:1;
}
.clear-float:after {
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
}
.center{/*居中*/
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.col,
.col-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
.col-2{
    -webkit-box-flex:2;
    -webkit-flex:2;
    -ms-flex:2;
    flex:2;
}
.col-3{
    -webkit-box-flex:3;
    -webkit-flex:3;
    -ms-flex:3;
    flex:3;
}
.col-4{
    -webkit-box-flex:4;
    -webkit-flex:4;
    -ms-flex:4;
    flex:4;
}
.col-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.col-5{
    -webkit-box-flex:5;
    -webkit-flex:5;
    -ms-flex:5;
    flex:5;
}
.font-hide{
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.i-table{
    font-size: 14px;
    color: #333;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.i-tr{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
}
.i-tr:nth-child(2n+1){
    background:#eee;
}
.i-tr:first-child{
    color: #fff;
    background: #39f;
}
.i-td{
    padding: 8px 10px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.i-td-1{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
}
/*components*/
.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(55,55,55,.6);
    height: 100%;
    z-index: 1000;
}

.toast-content{
    position: fixed;
    font-size: 12px;
    z-index: 1010;
    width: 100%;
    top: 16px;
    left: 0;
}
.toast-notice{
    position: absolute;
    left: 50%;
    width: auto;
    vertical-align: middle;
}
.toast-message{
    position: relative;
    right: 50%;
    padding: 8px 16px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    background: #fff;
    display: block;
}
.toast-icon{
    position: relative;
    top: 1px;
    margin-right: 10px;
    color: #39f;
    font-size: 14px;
}
/*transition-toast*/
.toast-enter-active {
    animation-duration: .3s;
    animation-name: moveUpIn
}

.toast-leave-active {
    animation-duration: .3s;
    animation-name: moveUpOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
.barrage-item{
    position: fixed;
    z-index: 1001;
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    white-space: nowrap;
    transition-property: all;
    transition-timing-function: linear;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
.confirm-position{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1000;
}
.confirm{
    position: relative;
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    max-width: 500px;
    background: #fff;
    border-radius: 5px;
    z-index: 1001;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.confirm-title{
    padding: 14px 16px;
    font-size: 14px;
    line-height: 20px;
    color: #464c5b;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #e3e8ee;
}
.confirm-content{
    padding: 16px;
    font-size: 12px;
    line-height: 1.5;
}
.confirm-buttons{
    border-top: 1px solid #e3e8ee;
    padding: 12px 18px;
    text-align: right;
}
.dialog-enter-active {
    animation-duration: .2s;
    animation-name: scaleIn
}

.dialog-leave-active {
    animation-duration: .2s;
    animation-name: scaleOut;
    animation-play-state: running;
    animation-timing-function: ease-in-out
}
/*animate*/
@keyframes moveUpIn {
    0% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
    100% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }
}
@keyframes moveUpOut {
    0% {
        transform-origin: 0 0;
        transform: translateY(0);
        opacity: 1
    }

    100% {
        transform-origin: 0 0;
        transform: translateY(-100%);
        opacity: 0
    }
}
@keyframes scaleOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.8);
        opacity: 0;
    }
}
@keyframes scaleIn {
    from {
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
/*transition-fade*/
.fade-enter-active, .fade-leave-active {
    transition: all .3s
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.slide-bottom-enter-active, .slide-bottom-leave-active {
    transition: transform .3s
}
.slide-bottom-enter, .slide-bottom-leave-to{
    transform: translate3d(0, 100%, 0);
}
/*detailed css*/
/*添加标签-对话框*/
.tag-confirm{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    font-size: 14px;
}
.tag-confirm b{
    color: #666;
}
.tag-confirm > input{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    margin-left: 10px;
    border: 1px solid #ddd;
    line-height: 25px;
}